<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Lista de Alunos</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
</head>
<body>
	<h1>Formação Java!</h1>

	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Lista de Alunos</h1>
		</div>
		<div class="panel-body">
			
			<form class="form-inline" method="POST" th:action="@{/alunos}"
				th:object="${aluno}" style="margin: 20px 0">
				
				<div class="form-group">
					<input type="text" class="form-control" id="nome"
						th:field="*{nome}" placeholder="Nome" /> 
						
					<input type="text"
						class="form-control" id="email" th:field="*{email}"
						placeholder="E-mail" />
						
					<input type="text"
						class="form-control" id="nota" th:field="*{nota}"
						placeholder="Nota" />

					<button type="submit" class="btn btn-primary">Adicionar</button>
				</div>
			</form>

			<table class="table">
				<thead>
					<tr>
						<th>Aluno</th>
						<th>E-mail</th>
						<th>Nota</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="aluno: ${alunos}">
						<td th:text="${aluno.nome}"></td>
						<td th:text="${aluno.email}"></td>
						<td th:text="${aluno.nota}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>